// these values supersede params in the profile and are themselves
// superseded by contents of -params-file or command line args

nextflow.enable.dsl=2

// these can be overridden using command line args like
// --container dada2-nf:17.1
params {
    // Docker image is hosted on github
    container = "ghcr.io/nhoffman/dada2-nf:2.0.3"
    min_reads = 1
    nproc = 4
    work_dir = "work"
}

// TODO: version number should contain output of `git describe --tags --dirty`
manifest {
    homePage = 'https://github.com/nhoffman/dada2-nf'
    description = 'Dada2 pipeline for dereplication, chimera checking, and 16s detection'
    version = '1.0.0'
    name = 'dada2-nf'
}

profiles {

    standard {
        workDir = params.work_dir
        resume = true  // null for no resume
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity/'
        }
        params {
            output = 'output'
            nproc = 32
        }
        process {
            container = params.container
            executor = 'local'
        }
        withLabel: c5d_2xlarge {
            // Meant to match the AWS Batch cd5.9xlarge which has 32 cpus. For
            // local execution cpus must be configured at the application and
            // no more than 2 forks at a time.
            maxForks = 2
        }
        withLabel: med_cpu_mem {
            maxForks = 2
        }
        executor{
            queueSize = 32
        }
    }

    docker {
        workDir = params.work_dir
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        params {
            output = 'output'
            nproc = 32
        }
        process {
            container = params.container
            executor = 'local'
            withLabel: c5d_2xlarge {
                maxForks = 2
            }
        }
        executor{
            queueSize = 16
        }
    }

    local {
        workDir = params.work_dir
        resume = true  // null for no resume
        params {
            output = 'output'
            nproc = 32
        }
        process {
            container = params.container
            executor = 'local'
        }
        withLabel: c5d_2xlarge {
            // Meant to match the AWS Batch cd5.9xlarge which has 32 cpus. For
            // local execution cpus must be configured at the application and
            // no more than 2 forks at a time.
            maxForks = 2
        }
        executor{
            queueSize = 16
        }
    }

    uw_batch {
        workDir = 's3://molmicro-data/nextflow-workdir/dada2-nf'
        params {
            output = 'output'
            nproc = 32
        }
        process {
            scratch = "/docker_scratch"
            queue = 'molmicro-queue'
            executor = 'awsbatch'
            container = params.container

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
            withLabel: c5d_2xlarge {
                cpus = 32
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }

    hutch_apptainer {
        workDir = params.work_dir
        resume = true  // null for no resume
        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete90/fredricks_d/lab/nhoffman/singularity/'
        }
        params {
            output = 'output'
            nproc = 4
        }
        process {
            container = params.container
            executor = 'local'

            // https://sciwiki.fredhutch.org/hdc/workflows/running/on_gizmo/#note-error-151
            errorStrategy = 'retry'
            maxRetries = 3
        }
        withLabel: c5d_2xlarge {
            // Meant to match the AWS Batch cd5.9xlarge which has 32 cpus. For
            // local execution cpus must be configured at the application and
            // no more than 2 forks at a time.
            maxForks = 4
        }
        executor{
            queueSize = 14
        }
    }

    hutch_batch {
        // choose from delete10, delete30, delete60 numbers refer to days
        workDir = "s3://fh-pi-fredricks-d-nextflow-scratch/delete10/"
        resume = true
        params {
            output = 'output'
            nproc = 32
        }
        process {
            executor = 'awsbatch'
            container = params.container
            queue = 'default'
            scratch = '/tmp'

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 4
            }
            withLabel: large_cpu_mem {
                cpus = 16
                memory = { 32.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
            withLabel: c5d_2xlarge {
                cpus = 32
            }
        }
        aws {
            batch {
                // https://github.com/nextflow-io/nextflow/issues/849
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                volumes = '/var/lib/docker'
            }
            client {
                maxConnections = 4
            }
        }
    }
}
