process {
    executor = 'awsbatch'
    errorStrategy = 'retry'
    withLabel: med_cpu_mem {
        cpus = 8
        memory = { 8.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withLabel: c5d_2xlarge {
        cpus = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
        maxRetries = 3
    }
    withLabel: c5d_9xlarge {
        cpus = 36
        memory = 72.GB
    }
}
